@charset "utf-8";
/* CSS Document */

:root {
    --myRed: #e74c3c;
	--myOrange: #f1c40f;
	--myGreen: #2ecc71;
	--myGray: #36393f;
}

body {
	background-color: var(--myGray);
	color: var(--myGray);
	fill: var(--myGray);
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
	text-align: center; 
	font-weight: 700;
	box-sizing: border-box;
}

#startArea, #trumpArea {
	width: 62.5%;
}

#presenceArea, .toolsArea {
	width: 30%;
}

#resetArea, #muteArea {
	width: 13.75%;
}

#startArea, #presenceArea, #trumpArea, #muteArea, #resetArea {
	height: calc(15.5*var(--vh));
}

.toolsArea {
	height: calc(31*var(--vh));
}

svg, img, #start,#quenchingText2, .tools, #trump, #trumpAlert, #reset {
	position: absolute;
	transform: translate(-50%,-50%);
}

#quenchingText, #decodeText{
	position: absolute;
	transform: translate(0,-50%);
	top: 50%;
	left: 3%;
}

#quenchingText, #quenchingText2, #decodeText, .startSvgs, .presence, .orangeStart #abnormal, .orangeStart #excitement, .redStart #abnormal, .redStart #excitement, #owl, #listen, .red #muteSvg {
	display: none;	
}

.orangeStart #quenchingText, .redStart #quenchingText2, .decode #decodeText, .decodeRed #decodeText, .orangeStart #quenchingSvg, .redStart #quenchingSvg, .decode #decodeSvg, .decodeRed #decodeSvg, .detension #detension, .detensionRed #detension, .detensionOrange #detension, .over #twitter, .orangeStart #owl, .redStart #owl, .red #listen {
	display: block;
}

.all {	
	background-color: var(--myGreen);
	cursor: pointer;
	position: relative;
	float: left;
	border-radius: 2vh;
	margin: calc(1.4*var(--vh)) 0 0 2.5%;
}

.orange, .orangeStart, .decode , .detensionOrange {
	background-color: var(--myOrange);
}

.red, .redStart, .decodeRed, .detensionRed {
    background-color: var(--myRed);
}

.over {
	cursor: not-allowed;
	opacity: 0.5;
}

#start {
	font-size: 14vmin;
	top: 50%;
  	left: 50%;
}

#quenchingText {
	font-size: 5vmin;
	line-height: 1.2;
}

#decodeText {
	font-size: 4.5vmin;
	line-height: 1.2;
}

#quenchingText2 {
	font-size: 6.5vmin;
	white-space: nowrap;
	top: 50%;
	left: 33%;
}

.startSvgs {
	top: 50%;
	left: 80%;
}

#decodeSvg, #detension {
	left: 85%;
}

#quenchingSvg, #decodeSvg, #detension {
	height: 80%;
	max-width: 28%;
}

#twitter {
	height: 50%;
	max-width: 22%;
	fill: var(--myGray);
}

.presence {
	height: 80%;
	top: 50%;
}

#pre1, #sence1 {
	left: 16.7%;
}

#pre2, #sence2 {
	left: 33.3%;
}

#pre3, #sence3 {
	left: 50%;
}

#pre4, #sence4 {
	left: 66.7%;
}

#pre5, #sence5 {
	left: 83.3%;
}

.tools {
	top: 30%;
  	left: 50%;
	font-size: 16vmin;
}

.centerSvg, .orangeStart #teleportSvg, .redStart #teleportSvg {
	width: initial;
	height: 45%;
	max-width: 90%;
	top: 75%;
	left: 50%;
}

#warpSvg {
	height: 40%;
}

#patrollerSvg, #teleportSvg, #abnormal, #excitement {
	width: 48%;
	max-height: 45%;
	top: 75%;
}

#owl {
	height: 48%;
	max-width: 35%;
	top: 72%;
}

#patrollerSvg, #teleportSvg {
	left: 75%;
}

#abnormal, #owl, #excitement {
	left: 25%;
}

#trump {
	font-size: 14vmin;	
}

#trump, #trumpAlert {
	left: 30%;
	top: 50%;
}

#trumpAlert {
	white-space: nowrap;
	font-size: 5.8vmin;
	line-height: 1.4;
}

#trumpSvg {
	height: 80%;
	top: 55%;
  	left: 75%;
}

#listen, #muteSvg {
	top:50%;
	left:50%;
	width:95%;
	max-height: 80%;
}

#reset {
	font-size: 8vmin;
	top: 50%;
  	left: 50%;
}

#resetSvg {
	top: 50%;
	left: 50%;
	width: 70%;
	max-height: 70%;
}
