.a {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--myGreen);
  border-radius: var(--padding);
  text-decoration: none;
  &:focus {
    outline: none;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-height: 75%;
  }
}
