.traitTimeText {
  font-size: var(--number-large);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centralSvg,
.patroller,
.abnormal,
.teleport,
.excitement,
.warp {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 75%;
  max-height: 40%;
}

.centralSvg {
  width: 66.7%;
}

.patroller,
.abnormal {
  width: 45%;
}

.teleport,
.excitement,
.warp {
  width: 33%;
}

.centralSvg,
.excitement {
  left: 50%;
}

.patroller {
  left: 25%;
}

.abnormal {
  left: 75%;
}

.teleport {
  left: 20%;
}

.warp {
  left: 84%;
}
