.trumpCardButton {
  &.used {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .text {
    position: absolute;
    left: 33.3%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .timeText {
    font-size: var(--number-middle);
  }

  .alertText {
    font-size: var(--text-small);
  }

  svg {
    position: absolute;
    transform: translateY(-50%);

    &.trumpCardIcon {
      top: 52%;
      height: 66.7%;
      max-width: 50%;
      right: 2.5vw;
    }
    &.twitterIcon {
      top: 50%;
      height: 40%;
      max-width: 35%;
      right: 5vw;
    }
  }
}
